<div class="header">
    <div class="container">
        <div class="nav  d-flex">
            <div class="logo">
                <img src="./images/logo-white.png" alt="">
            </div>
            <ul class="menu d-flex">
                <li><a href="#">系列鏡框</a></li>
                <li><a href="#">門市據點</a></li>
                <li><a href="#">部落格</a></li>
                <li><a href="#">常見問題</a></li>
            </ul>
        </div>
    </div>
</div>